<section id="accordion">
    <div class="menu">
        <div class="header">
            <div class="title"> <b> 💭 Nuestra Historia</b> </div>
            <span class="icon"> <b> + </b> </span>
        </div>
        <div class="content">
            <p> Hace más de 20 años nacimos como un almacén de textiles y diversión para niños, hoy en día, somos una gran empresa a nivel nacional en la que gracias a tu reconocimiento, confianza y cercanía nos hemos consolidado como la principal cadena de almacenes de diversión para ti y tu familia.
            </p>
            <p> <b>¡Siempre a la vanguardia, innovación y facilitando todo lo que necesitas!</b></p>
        </div>
    </div>

    <div class="menu">
        <div class="header">
            <div class="title"> <b> ❤ Nuestros Valores</b> </div>
            <span class="icon"> <b> + </b> </span>
        </div>
        <div class="content value">
            <p>Estamos comprometidos con el bienestar y el crecimiento de nuestros equipos; así como el cumplimiento de nuestras maetas como compañía. Por eso, trabajamos bajo principios fundameentales que nos definen: compromiso, respeto, responsabilidad, servicio y confiabiliad.</p>
        </div>
    </div>

    <div class="menu">
        <div class="header">
            <div class="title"> <b> 👷🏻‍♀️ Nuestro Talento </b> </div>
            <span class="icon"> <b> + </b> </span>
        </div>
        <div class="content talent">
            <p><b><i> Juguetería Cósmica</i></b> cuenta con un equipo de trabajo amable, alegre, colaborador y comprometido que día a día trabaja para brindar un excelente servicio a todos nuestros clientes. ¿Quieres hacer parte de nuestro equipo?</p>
        </div>
    </div>

    <div class="menu">
        <div class="header">
            <div class="title"> <b> 🤝🏻Responsabilidad Social </b> </div>
            <span class="icon"> <b> + </b> </span>
        </div>
        <div class="content social">
            <p>En <b><i>Juguetería Cósmica</i></b> trabajamos de la mano con varias organizaciones que aportan a diferentes causas sociales enfocadas a la niñez e infraestructura escolar que ayudan a la construcción de país.</p>
        </div>
    </div>

    <div class="menu">
        <div class="header">
            <div class="title"> <b> 📧 Política de Tratamiento de Datos </b> </div>
            <span class="icon"> <b> + </b> </span>
        </div>
        <div class="content">
            <p>Los datos personales en custodia de <b><i> Juguetería Cósmica</i></b>  en su condición de Responsable y/o Encargado del tratamiento según el caso, serán tratados y protegidos cumpliendo los principios y regulaciones previstas en las leyes colombianas y demás que le sean aplicables en la materia, así como de conformidad con buenas prácticas en protección de datos personales.</p>
        </div>
    </div>

    <div class="menu">
        <div class="header">
            <div class="title"> <b> 🏬 Nuestras Tiendas </b> </div>
            <span class="icon"> <b> + </b> </span>
        </div>
        <div class="content store">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam harum eligendi nemo id placeat nobis. Nobis iusto aperiam error quidem eius fugit quibusdam maiores doloremque.</p>
        </div>
    </div>

    <div class="menu">
        <div class="header">
            <div class="title"> <b> 💱 Políticas de Cambios </b> </div>
            <span class="icon"> <b> + </b> </span>
        </div>
        <div class="content politic" >
            <p>En nuestras tiendas puedes realizar cambios en cualquier momento, ten en cuenta lo siguiente:</p>
            <p>Para realizar cualquier cambio recuerda que es necesario presentar Factura o certificado de Regalo. Si eres cliente especial y realizaste la compra, con tu número de cédula es suficiente.</p>
            <p>Los cambios se podrán realizar por garantia o por Bono de Cambio que se genera por el mismo valor pagado de tu factura y/o Certificado de regalo, en la fecha de compra del producto. No realizamos devoluciones de dinero.</p>
            <p>Tu bono de cambio tendrá una vigencia de un año, no podrás redimirlo parcialmente por mercancia. No es redimible por dinero.</p>
        </div>
    </div>

</section>
