
<h1>Contáctanos</h1>

<form >
<fieldset class="contact-form">
    <legend> Formulario de PQR </legend>
<label for="nombre">Nombre completo*</label>
<input type="text" id="nombr" name="nombre" placeholder="Escriba su nombre y apellidos*" required> <br>

<label for="email"> E-mail*</label>
<input type="email" id="email" name="email" required> <br>

<label for="comentarios">Comentarios*</label>
<textarea name="comentarios" id="comentarios" cols="30" rows="10" minlength="10" maxlength="500" placeholder="Si tiene algún comentario dejenoslos saber"></textarea> <br>
<!-- <input type="text" id="comentarios" name="comentarios" cols="30" rows="10" minlength="10" maxlength="500"> <br> -->

<p>*campos requeridos</p>

<input type="submit" id="send" value="Enviar">

</fieldset>
</form>
